<style>@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

</style>


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}


textarea {

    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;

}

#output {
    width: 80%;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    height: 10vh;
    background-color:beige;
    color:beige;
}

.nav{
    padding:1rem 1rem;
    text-align: center;
    border-color:solid grey;
    margin: auto;
    background-color:yellow;
}
#txt-input{

    text-area:center;
    background-color:grey;
}
button {
    background-color:yellow);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;

}
#abc{
    text-align: center;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: yellow;
    text-align: center;
    font:bold;
}
.para{
    p {
        max-width: var(--width-break);
        margin: auto;
        text-align: center;
    }
}


